@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "press";
    font-weight: 400;
    src: url("./assets/fonts/PressStart2P-Regular.ttf");
  }

  body {
    font-family: "press";
    background-color: #151220;
    color: white;
  }
}
